.FeatureCard{
    height: 33rem;
    margin: 1rem;
    margin-bottom: 10px;

}
.FeatureCard .FeatureCard-Image{
    width:100%;
    height: 275px;
}
.FeatureCard  .FeatureCard-content{
    text-align: center;
}

.FeatureCard .FeatureCard-Title{
    color:#FF8A73;
    
    font-size: 25px;
    font-weight: 700;
}
.FeatureCard .FeatureCard-Content{
    font-size: 15px;
    text-align: center;
}